# Get this from Railway: your project -> Postgres service -> "Connect" tab -> "Postgres Connection URL"
DATABASE_URL="postgresql://postgres:mfrnmiviIUqPsHNYmAuofDjSQZzUPLUm@interchange.proxy.rlwy.net:40244/railway?connection_limit=5"
